img {
    max-width: 30em;
}

h1:hover, :focus{
text-decoration: underline;
}

#title:hover, 
#title:focus {
text-decoration: underline;
}

section p {
    text-indent: 2em;
    width: 500px;
}

nav ul {
    list-style-type: none;
}

nav ul li:hover, nav ul li:focus {
    background-color: aqua;
}

nav ul li a:active {
    color: greenyellow;
}

nav ul li a:visited {
    color: violet;
}

header img {
    height: 300px;
    width: auto;
}

table tr td:first-child {
    font-weight: bold;
}

tr {
    background-color: pink;
}

tr td, th {
    border: 2px aqua solid;
    padding: 10px 10px;
}